/*              This code will be for Flex Our Blocks HTML              */
.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 10px;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 10px; 
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 10px;
}
.main {
    height: 400px;
    width: 800px;
    background-color: red;
    margin: 10px; 
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 10px; 
    float: right; 
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 10px; 
}
.row {
    display: flex;
}



/*              This code will be Github Blocks HTML                */
.grey {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 10px;
}
.red {
    height: 150px;
    background-color: red;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.blue {
    height: 150px;
    background-color: blue;
    margin: 10px;display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.green {
    height: 150px;
    background-color: green;
    margin: 10px;display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.white {
    height: 85px;
    background-color: white;
    margin: 10px;
    text-align: center;
    font-size: 500%;
    padding: 25px; 
    font-family: sans-serif;
}



/*              This code if for Flex Nav Bar HTML              */ 
.nav {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-title {
    margin: 20px;
    color: white;
}
.nav-links {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.active {
    font-weight: bold;
}
.btn {
    background-color: aqua;
    color: white;
    text-align: center;
    height: 30px;
    width: 100px;
    border: 2px solid black;
    font-weight: bold;
    box-shadow: 5px 5px 5px black;
}
a {
    color: white;
}



/*              This code is for Flexible Columns HTML              */
.row {
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
}

.col, .col-2, .col-3 {
    background-color: green; ;
    display: flex;
    padding: 25px;
    margin: 5px; 

}
.col {
    flex: 1; 
}
.col-2 {
    flex: 2; 
}
.col-3 {
    flex: 3; 
}